altair==5.5.0
annotated-types==0.7.0
attrs==25.3.0
blinker==1.9.0
boto3==1.35.99
botocore==1.35.99
butterfree==1.7.2
cachetools==5.5.2
cassandra-driver==3.24.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
delta-spark==3.2.0
geomet==0.2.1.post1
gitdb==4.0.12
GitPython==3.1.44
h3==3.7.7
idna==3.10
importlib_metadata==8.7.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
mdutils==1.6.0
narwhals==1.39.0
numpy==1.26.4
packaging==24.2
pandas==1.5.3
parameters-validation==1.2.0
pillow==11.2.1
protobuf==6.30.2
py4j==0.10.9.7
pyarrow==20.0.0
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
pyspark==3.5.1
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
s3transfer==0.10.4
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
smmap==5.0.2
streamlit==1.45.0
tenacity==9.1.2
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.4.2
typer==0.4.2
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==1.26.20
watchdog==6.0.0
zipp==3.21.0
